<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bryan.rubbish_detection_backend.mapper.RubbishTypeDescMapper">
    <cache-ref namespace="com.bryan.rubbish_detection_backend.mapper.RubbishTypeDescMapper"/>

    <!-- 结果映射 -->
    <resultMap id="RubbishTypeDescMap" type="com.bryan.rubbish_detection_backend.entity.RubbishTypeDesc">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="type" column="type"/>
        <result property="description" column="description"/>

        <!-- 投掷建议集合 -->
        <result column="disposal_advice"
                property="disposalAdvice"
                javaType="java.util.List"
                jdbcType="VARCHAR"
                typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>

        <!-- 处理方法集合 -->
        <result column="handle_method"
                property="handleMethods"
                javaType="java.util.List"
                jdbcType="VARCHAR"
                typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>

        <!-- 常见物品集合 -->
        <result column="common_thing"
                property="commonThings"
                javaType="java.util.List"
                jdbcType="VARCHAR"
                typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
    </resultMap>

    <sql id="base_sql">
        SELECT r.id,
               r.name,
               r.type,
               r.description,
               (SELECT JSON_ARRAYAGG(
                               JSON_OBJECT('id', rda.id, 'rubbishId', r.id, 'advice', rda.advice)
                       )
                FROM rubbish_type_disposal_advice rda
                WHERE rda.rubbish_id = r.id
                  AND rda.is_deleted = 0) AS disposal_advice,
               (SELECT JSON_ARRAYAGG(JSON_OBJECT('id', rhm.id, 'rubbishId', r.id, 'method', rhm.method))
                FROM rubbish_type_handle_methods rhm
                WHERE rhm.rubbish_id = r.id
                  AND rhm.is_deleted = 0) AS handle_method,
               (SELECT JSON_ARRAYAGG(JSON_OBJECT('id', rct.id, 'rubbishId', r.id, 'thing', rct.thing))
                FROM rubbish_type_common_things rct
                WHERE rct.rubbish_id = r.id
                  AND rct.is_deleted = 0) AS common_thing
        FROM rubbish_type_desc r
    </sql>

    <!-- 根据类型查询所有数据 -->
    <select id="getCompleteInfoByType" resultMap="RubbishTypeDescMap">
        <include refid="base_sql"/>
        ${ew.customSqlSegment}
    </select>

    <select id="findByList" resultMap="RubbishTypeDescMap">
        <include refid="base_sql"/>
        ${ew.customSqlSegment}
    </select>
</mapper>
